# =========================
# Strapi Server
# =========================
HOST=0.0.0.0
PORT=1337

# =========================
# Strapi Secrets
# (CAMBIAR en entornos reales)
# =========================
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# =========================
# Database (dev/staging)
# =========================
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=strapi_test
DATABASE_USERNAME=adminrpa
DATABASE_PASSWORD=tobemodified
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db

# =========================
# Azure Blob Storage
# =========================
AZURE_ACCOUNT_NAME=tobemodified
AZURE_ACCOUNT_KEY=tobemodified
AZURE_CONTAINER_NAME=staging
AZURE_DEFAULT_PATH=uploads
AZURE_DEFAULT_CACHE_CONTROL=public, max-age=31536000, immutable
AZURE_REMOVE_CN=true
